.heroContainer{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/desktop.png');
    height: 80vh;
    display: flex;
    align-items: center;
}